<a href="https://colab.research.google.com/github/1carlosd1/daa_2021_1/blob/master/23deOctubre.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def ejemplo1( n ):
    c = n + 1
    d = c * n
    e = n * n
    total = c + e - d
    print(f"total={ total }")
ejemplo1( 100 )

#FUNCION T(n)=4

total=1

In [ ]:
def ejemplo2( n ):
    contador = 0
    for i in range( n ) :
        for j in range( n ) :
            contador += 1
    return contador

ejemplo2( 5000 )
#FUNCION T(n)= 1+n^2

25000000

In [ ]:
def ejemplo3(n):#n=4
  x=n*2 #x=8
  y=0
  for m in range(100):
    y=x-n 
  return y

ejemplo3(100000)
#no importa que tan grande sea 'n' el for ya esta fijo al realizarse con 100 
#FUNCION T(n)=102

100000

In [ ]:
def ejemplo4( n ):
    x = 3 * 3.1416 + n
    y = x + 3 * 3 - n
    z = x + y
    return z

ejemplo4(9)
#FUNCION T(n)=3

36.849599999999995

In [ ]:
def ejemplo5( x ):
    n = 10
    for j in range( 0 , x , 1 ):
        n = j + n
    return n

ejemplo5(1000000)

#FUNCION T(x)=1+x
#la variable queahora recibe es x no irte con la finta que es n

499999500010

In [ ]:
def ejemplo6( n ):
    data=[[[1 for x in range(n)] for x in range(n)]
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    return suma
print(ejemplo6(1000 ))
#Funcion T(n)=2+n^3

1000000000

In [ ]:
from time import time

def ejemplo6( n ):
    start_time = time()
    data=[[[1 for x in range(n)] for x in range(n)] 
          for x in range(n)]
    suma = 0
    for d in range(n):
        for r in range(n):
            for c in range(n):
                suma += data[d][r][c]
    elapsed_time = time() - start_time
    print("Tiempo transcurrido: %0.10f segundos." % elapsed_time)
    return suma
ejemplo6( 500 )

Tiempo transcurrido: 18.0242636204 segundos.

125000000

In [1]:
def ejemplo7( n ):
  count = 0
  for i in range( n ) :
    for j in range( 25 ) :
      for k in range( n ):
        count += 1
  return count
ejemplo7(4)
#FUNCION T(n)= n+25n^2

400

In [3]:
def ejemplo7_2( n ):
  count = 1
  for i in range( n ) :
    for j in range( 25 ) :
      for k in range( n ):
        count += 1
      for k in range( n ):
        count += 1
  return count 
  # Funcion T(n)= 1 + 25n^2 +25n^2
  #los dos primeros for afectan de igual manera a los dos for de abajo 
ejemplo7_2(3)

451

In [ ]:
def ejemplo8( numeros ): # numeros es una lista (arreglo en c)
  total = 0
  for index in range(len(numeros)):
    total = numeros[index]
  return total
ejemplo8(numeros)

#funcion T(n)=1+n
# botacion big O 0(n)=n

In [4]:
def ejemplo9(  n ):
  contador = 0
  basura = 0
  for i in range( n ) :
    contador += 1
  for j in range( n ) :
    contador += 1
  basura = basura + contador
  return contador
# funcion 3 + 2n

print(ejemplo9( 5 ))

10

In [5]:
def ejemplo10( n ):
  count = 0
  for i in range( n ) :
    for j in range( i+1 ) :
      count += 1
  return count
ejemplo10(5)
#funcion

15